@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  -webkit-appearance: none;
}

.backdrop-blur1 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Ensure compatibility with Safari */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    -webkit-appearance: none;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    -webkit-appearance: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    -webkit-appearance: none;
  }
}
