@font-face {
    src: url(aAtmospheric.ttf);
    font-family: atmospheric;
  }
  @font-face {
    src: url(Margadeth-gx5qE.ttf);
    font-family: wow;
  }
  @font-face {
    src: url(MechanismoRegular-p7ywa.otf);
    font-family: mech;
  }
  @font-face {
    src: url(AstroSpace-eZ2Bg.ttf);
    font-family: astro;
  }
  @font-face {
    src: url(Creata-OXMd.ttf);
    font-family: create;
  }