.footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
}
.footer2{
    display: flex;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
    padding: 10px 0px;
    /* text-align: center; */
}