* {
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  .parallax-item, .parallax-item3, .parallax-item4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
  }
  .don{
      margin-top: 25vh;
      text-align: center;
  }
  .mainName {
    font-size: 3rem;
    text-transform: uppercase;
    color: aliceblue;
    letter-spacing: 12px;
    animation: tracking-in-contract-bck 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 3.2s;
  }
  .who{
    font-size: 1rem;
    text-transform: uppercase;
    color: aliceblue;
    letter-spacing: 6px;
    /* margin-top: 40vh; */
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 4s;
  }
 @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      transform: translateZ(250px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
  
  .parallax-item {
    /* background: url("https://images.unsplash.com/photo-1663305411753-4c305e177ff3?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjM5NDA4ODE&ixlib=rb-1.2.1&q=80"); */
    background: url("../Assets/IMG20210527190320.jpg");
    height: 115vh;
    background-size: cover;
  }
  
  .parallax-item3 {
    /* background: url("https://images.unsplash.com/photo-1663183539627-adbe2c8ef43d?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjM5Mzk5ODc&ixlib=rb-1.2.1&q=80"); */
    background:linear-gradient(rgba(0, 0, 0, 0.273), rgba(0, 0, 0, 0.212)), url("../Assets/IMG20220715155127\ \(2\).jpg");
    background-size: cover;
    background-attachment: fixed;
  /* background-position-y: 120vh; */
  background-repeat: no-repeat;
  }
  
  .parallax-item4 {
    background: #1565c0;
  }
  
  @media screen and (max-width: 768px) {
    .parallax-item h2 {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (max-width : 500px){
    .mainName {
      margin-top: -40vw;
      padding: 1vw;
    }
    .who{
      font-size: 0.8rem;
      margin-top: 4vw;
      padding: 2.5vw;
      letter-spacing: 3px;
    }
  }