* {
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  .parallax-item, .parallax-item2, .parallax-item3, .parallax-item4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
  }
  .don{
      margin-top: 45vh;
      text-align: center;
  }
  .mainName {
    font-size: 3rem;
    text-transform: uppercase;
    color: aliceblue;
    letter-spacing: 12px;
    animation: tracking-in-contract-bck 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 3.2s;
  }
  .who{
    font-size: 1rem;
    text-transform: uppercase;
    color: aliceblue;
    letter-spacing: 6px;
    /* margin-top: 40vh; */
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 4s;
  }
 @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      transform: translateZ(250px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
  
  .parallax-item {
    background: url("https://images.unsplash.com/photo-1663305411753-4c305e177ff3?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjM5NDA4ODE&ixlib=rb-1.2.1&q=80");
    /* filter: blur(1px); */
    /* z-index: -1; */
    background-size: cover;
  }
  
  .parallax-item2 {
    background: #fdd835;
  }
  
  .parallax-item3 {
    background: url("https://images.unsplash.com/photo-1663183539627-adbe2c8ef43d?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjM5Mzk5ODc&ixlib=rb-1.2.1&q=80");
    background-size: cover;
    /* background-size: cover; */
    /* background-position: center; */
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    /* background-attachment: fixed;  */
    min-height: 600px;
  }
  
  .parallax-item4 {
    background: #1565c0;
  }
  
  @media screen and (max-width: 768px) {
    .parallax-item h2 {
      font-size: 1.5rem;
    }
  }
  