@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Teko:wght@700&display=swap');
*{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.name{
    display: flex;
    margin: 0vw 0vw 0vw 6.5vw;
    padding: 16px 0vw 25px 0px;
    width: 170px;
    line-height: 30px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 3px;
    font-size: 1.5vw;
    color: aliceblue;
    background-color: rgba(5, 5, 5, 0.466);
    animation: slide-in-blurred-top 3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
.name p{
    margin: 0px 0px 0px 0px;
    animation-delay: 2s;
    animation: slide-in-blurred-to 4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
.options ul{
   display: flex;
   list-style: none;  
   padding: 1vw 1vw 1vw 1vw;
}
.options ul li{
    margin: 23px 1vw 0vw 5.5vw;   
    font-weight: bold;
    font-size: 1vw;
    color: aliceblue;
 }
 .socialMedia{
    display: flex;
    justify-content: right;
 }

 .icons{
    position: fixed;
    margin-top:46vh ;
    padding: 2px;
    width: 70px;
    height: 200px;
    right: 10px;
    filter:invert(100%);
}
.icons img{
    margin: 1px 0vw 10px 15px;
    width: 23px;
    height: 23px;
}
.icons :nth-child(1){
    animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation-delay: 2.3s;
}
.icons :nth-child(2){
    animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation-delay: 2.4s;
}
.icons :nth-child(3){
    animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation-delay: 2.5s;
}
.icons :nth-child(4){
    animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation-delay: 2.6s;
 }


 @keyframes slide-in-blurred-top {
    0% {
              transform: translateY(-300px) scaleY(1) scaleX(1);  
              transform-origin: 50% 0%;    
              filter: blur(10px);
      opacity: 0;
    }
    100% {
        transform: translateY(0) scaleY(1) scaleX(1);
        filter: blur(0);
    }
  }

@keyframes slide-in-blurred-to {
0% {
      transform: translateY(-300px) scaleY(1) scaleX(1);  
      transform-origin: 50% 0%;    
      filter: blur(0px);
opacity: 0;
}
100% {
transform: translateY(0) scaleY(1) scaleX(1);
filter: blur(0);
}
}
@keyframes slide-in-blurred-right {
    0% {
      transform: translateX(100px) scaleX(1) scaleY(1);
      transform-origin: 0% 50%;
      filter: blur(0px);
      opacity: 0;
    }
    100% {
      transform: translateX(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
    }
  }

.options{
    margin: 0vw 0vw 0vw 40vw; 
    animation: slide-in-blurred-top 3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation-delay: 0.6s;
}