.parallax-item4{
 display: flex;
 flex-direction: column;
}
.heed{
    font-size: 40px;
    margin: 0vw 0vw 0vw 0vw;
    padding: 0vw 0vw 5vw 0vw;
    color: aliceblue;
    letter-spacing: 1.8px;
}
.carousel {
    display: flex;
    width: 80%;
    /* height: 100%; */
    align-items: center;
    font-family: Arial;
    overflow: hidden;
}
.carousel__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 45vh;
    justify-content: center;
    /* perspective: 300px; */
}
.carousel__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* font-size: 10px; */
    width: 390px;
    /* width: 25vw; */
    height: 250px;
    /* height: 16vw; */
    border-radius: 12px;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
    position: absolute;
    border: 2px solid black;
    transition: all 0.3s ease-in;
}
.carousel__item:nth-child(1) {
    background: linear-gradient(45deg, #2d35eb 0%, #904ed4 100%);
    background-image: url("1.jpg");
    background-position: center;
    background-size: cover;
    
}
.carousel__item:nth-child(2) {
    background: linear-gradient(45deg, #2d35eb 0%, #fdbb2d 100%);
    background-image: url("2.jpg");
    background-position: center;
    background-size: cover;
}
.carousel__item:nth-child(3) {
    background: linear-gradient(45deg, #2d35eb 0%, #22c1c3 100%);
    background-image: url("3.jpg");
    background-position: center;
    background-size: cover;
}
.carousel__item:nth-child(4) {
    background: linear-gradient(45deg, #fdbb2d 0%, #904ed4 100%);
    background-image: url("4.jpg");
    background-position: center;
    background-size: cover;
}
.carousel__item:nth-child(5) {
    background: linear-gradient(45deg, #22c1c3 0%, #904ed4 100%);
    background-image: url("5.jpg");
    background-position: center;
    background-size: cover;
}
.carousel__item:nth-child(6) {
    /* background: seashell */
background-image: url("6.jpg");
    background-position: center;
    background-size: cover;
}
.carousel__item:nth-child(7) {
    /* background: rgb(55, 101, 162) */
background-image: url("7.jpg");
    background-position: center;
    background-size: cover;
}
.carousel__item:nth-child(8) {
    /* background: green */
background-image: url("8.jpg");
    background-position: center;
    background-size: cover;
}
.carousel__item:nth-child(9) {
    /* background: purple */
    background-image: url("9.jpg");
    background-position: center;
    background-size: cover;
}
.carousel__item:nth-child(10) {
    /* background: black */
background-image: url("13.jpg");
    background-position: center;
    background-size: cover;
}
.carousel__item:nth-child(11) {
    /* background: pink */
background-image: url("11.jpg");
    background-position: center;
    background-size: cover;
}

.carousel__item[data-pos="0"] {
    z-index: 7;
}
.carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
    opacity: 0.75;
    filter: blur(0px) grayscale(6%);
}
.carousel__item[data-pos="-1"] {
    transform: translateX(-70%) scale(0.9);
    z-index: 6;
}
.carousel__item[data-pos="1"] {
    transform: translateX(70%) scale(0.9);
    z-index: 6;
}
.carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
    opacity: 0.65;
    filter: blur(1px) grayscale(10%);
}
.carousel__item[data-pos="-2"] {
    transform: translateX(-125%) scale(0.8);
    z-index: 5;
}
.carousel__item[data-pos="2"] {
    transform: translateX(125%) scale(0.8);
    z-index: 5;
}
.carousel__item[data-pos="-3"], .carousel__item[data-pos="3"] {
    opacity: 0.55;
    filter: blur(3px) grayscale(15%);
}
.carousel__item[data-pos="-3"] {
    transform: translateX(-175%) scale(0.7);
    z-index: 4;
}
.carousel__item[data-pos="3"] {
    transform: translateX(175%) scale(0.7);
    z-index: 4;
}
.carousel__item[data-pos="-4"], .carousel__item[data-pos="4"] {
    opacity: 0.5;
    filter: blur(4px) grayscale(20%);
}
.carousel__item[data-pos="-4"] {
    transform: translateX(-210%) scale(0.6);
    z-index: 3;
}
.carousel__item[data-pos="4"] {
    transform: translateX(210%) scale(0.6);
    z-index: 3;
}
.carousel__item[data-pos="-5"], .carousel__item[data-pos="5"] {
    opacity: 0.4;
    filter: blur(3px) grayscale(20%);
}
.carousel__item[data-pos="-5"] {
    transform: translateX(-240%) scale(0.5);
    z-index: 2;
}
.carousel__item[data-pos="5"] {
    transform: translateX(240%) scale(0.5);
    z-index: 2;
}
.chalo p{
    text-transform: none;
}
.chalo a{
   text-decoration: none;
   text-transform: none;
   color: aliceblue;
}
@media screen and (max-width: 700px) {
    .carousel__item {
        margin-top:4vw ;
        width: 50vw;
        height: 33vw;
        border-radius: 12px;
    }
}
@media screen and (max-width: 450px) {
    .heed{
        font-size: 20px;
    }
    .chalo p{
        text-align: center;
        padding: 3vw;
    }
    .carousel__item {
        margin-top: 17vw;
        border-radius: 12px;
    }
}