.projectOuterBox{
  display: flex;
  flex-direction: column;
}
.projectOuterBox h2{
  margin: 2.5vw;
  margin-top: 7vw;
  font-size: 50px;
  color: aliceblue;
  letter-spacing: 1.8px;
}
.projectMains{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80vw;
  margin-bottom: 10vw;
}
.project1{
  margin: 2vw;
  width: 20vw;
  height: 25vw;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid white;
}
.hoveer{
  display: flex;
  flex-direction: column;
  opacity: 0;
  width: 125%;
  height: 30vw;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.656) 70%, rgba(0, 0, 0, 0.132) 100%);
  border-radius: 20px;
}
.hoveer p{
  /* opacity: 0; */
  padding: 1rem;
  font-size: 1.04vw;
  width: 72%;
  display: flex;
  flex-direction: column;
  height: 30vw;
  text-align: center;
  padding-top: 30vw;
  /* margin-bottom:0.1vw ; */
  color: aliceblue;
}
 .btns{
  font-size: 1vw;
  padding: 1rem;
  width: 15vw;
  display: flex;
  justify-content: space-evenly;
  color: aliceblue;
}
.btn a{
  padding:4px 15px;
  border-radius: 8px;
  background: rgb(0, 191, 255);
  text-decoration: none;
  color: black;
}
.btn img{
  height: 1vw;
  padding: 0vw;
  margin: 0.2vw 0.5vw 0vw 0vw;
}
.project1:hover, .hoveer p:hover,.hoveer:hover{
  opacity: 1;
  transition: all 0.4s ease-out;
  /* box-shadow: 0px 0px 44px 3px black; */
}

.hoveer p:hover{
  margin-top: -15vw;
}
.proj1{
  background: rgba(0, 0, 0, 0.47);
  background-image: url('image.png');
  background-position-y: 2.5vw;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 15vw;
  margin-top: 0vw;
}
.proj2{
  background: rgba(0, 0, 0, 0.47);
  background-image: url('../Assets/logo_name_white.png');
  background-position-y: 2.5vw;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 12vw;
  margin-top: 3vw;
}
.proj3{
  background: rgba(0, 0, 0, 0.47);
  background-image: url('https://media-exp1.licdn.com/dms/image/C4D0BAQG9WF99rtHXbw/company-logo_200_200/0/1652591102908?e=2147483647&v=beta&t=Epir86jIPRXrvbhgPfXaYgMo6lujzCcfltBPX09HkAY');
  background-position-y: 2.5vw;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 15vw;
  margin-top: 2vw;
}
.proj4{
  background: rgba(0, 0, 0, 0.47);
  background-image: url('https://shiveshnandan.github.io/Hotstar-clone/images/logo.png');
  background-position-y: 2.5vw;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 15vw;
  margin-top: 2vw;
}
.proj5{
  background: rgba(0, 0, 0, 0.47);
  background-image: url('s-n-low-resolution-logo-white-on-transparent-background.png');
  background-position-y: 6.5vw;
  background-position-x: 3.5vw;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 15vw;
  margin-top: 2vw;
}
.proj6{
  background: rgba(0, 0, 0, 0.47);
  background-image: url('s-n-low-resolution-logo-white-on-transparent-background.png');
  background-position-y: 6.5vw;
  background-position-x: 3.5vw;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 15vw;
  margin-top: 2vw;
}
@media screen and (max-width:750px){
  .project1{
    margin: 2vw;
    width: 200px;
    height: 40vw;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid white;
  }
  .hoveer{
    display: flex;
    flex-direction: column;
    opacity: 1;
    text-align: center !important;
    width: 130%;
    height: 30vw;
    margin-left: -1vw;
    background:none;
    border-radius: 20px;
  }
  .hoveer p{
    padding: 1rem;
    font-size: 12px;
    margin-top: -5vw;
    width: 62%;
    display: flex;
    flex-direction: column;
    height: 30vw;
    text-align: center;
    padding-top: 30vw;
    color: aliceblue;
  }
  .btns{
    font-size: 12px;
    margin-left: -1vw;
    /* padding: ; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    
  }
  .btn a{
    padding:2px 8px;
    border-radius: 8px;
    background: rgb(0, 191, 255);
    color: rgb(0, 0, 0);
  }
  .btn img{
    height: 10px;
    padding: 0vw;
    /* margin: 0.2vw 0.5vw 0vw 0vw; */
  }
  .proj1{
   display: none;
  }
  .proj2{
    display: none;
  }
  .proj3{
    display: none;
  }
  .proj4{
    background-size: 25vw;
   }
   .proj5{
     background-size: 20vw;
   }
   .proj6{
     background-size: 20vw;
   }
   .hoveer p:hover{
    margin-top: -5vw;
  }
}
@media screen and (max-width:500px){
  .project1{
    margin: 2vw;
    width: 200px;
    height: 52vw;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid white;
  }
  .proj4{
    background-size: 30vw;
   }
   .proj5{
     background-size: 20vw;
   }
   .proj6{
     background-size: 20vw;
   }
}