.card {
    position: absolute;
    overflow: hidden;
    
    width: 512px;
    height: 320px;
    box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.375);
    border-radius: 2px;
    transform: perspective(512px) translate3d(0, 0, 0);
    transform-style: preserve-3d;
    transition: all .4s cubic-bezier(.125, .625, .125, .875);
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 24px 0px rgba(0,0,0,0.25);
    border-radius: 4px;
  }
  .card__bg {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1504805189643-a4a5967c49b9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7edcb023316cddb2ed76e3c160dd9f31&auto=format&fit=crop&w=768&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
  }
  .cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  .card__overlay {
    background: linear-gradient(to bottom right, #D60270, #0038A8);
    transition: all .4s cubic-bezier(.125, .625, .125, .875);
    opacity: 0;
    z-index: -1;
  }
  .card:hover .card__overlay {
    opacity: .625;
  }
  .card__info {
    transform: perspective(512px) translate3d(0, 0, 0);
    transform-style: preserve-3d;
    transition: all .4s cubic-bezier(.125, .625, .125, .875);
    z-index: 1;
  }
  .card__title, .card__cta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    transform: scale(.875) perspective(512px) translate3d(0, 64px, 64px);
    transition: all .4s cubic-bezier(.125, .625, .125, .875);
  }
  .card__title {
    top: 0;
    width: 256px;
    height: 48px;
    color: #fff;
    font-family: sans-serif;
    font-size: 64px;
    font-weight: lighter;
    line-height: 48px;
    text-align: center;
  }
  .card__cta {
    top: 160px;
    width: 96px;
    height: 32px;
    background: none;
    color: #9B4F96;
    font-size: 14px;
    outline: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
  }
  .card__cta::before,
  .card__cta::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 96px;
    height: 32px;
    border-radius: 2px;
    transition: all .4s cubic-bezier(.125, .625, .125, .875);
    z-index: -1;
  }
  .card__cta::before {
    background: #fff;
    border: 2px solid transparent;
    transform: scale(1.125);
  }
  .card__cta::after {
    background: none;
    border: 2px solid #fff;
    transform: scale(.875);
  }
  .card__cta:hover::before {
    border-radius: 4px;
    transform: scale(.875);
  }
  .card__cta:hover::after {
    border-radius: 4px;
    transform: scale(1.125);
  }
  .icon {
    position: absolute;
    right: 16px;
    opacity: 0;
    transform: translateX(16px);
    transition: all .4s cubic-bezier(.125, .625, .125, .875);
  }
  .card__cta:hover .icon {
    opacity: 1;
    transform: translateX(0);
  }
  .card:hover .card__title,
  .card:hover .card__cta {
    opacity: 1;
    transform: scale(.875) perspective(512px) translate3d(0, -32px, 64px);
  }
